/* topInfos - timer and player points */

#topInfos {
	position : relative;
	width : 100%;
	height : 50px;
	background: #fbfbfb;
}

#timer {
	position: relative;
	height: 100%;
	width: 49.5%;
	background-color: #fbfbfb;
	float : left;
	text-align: center;
}

#timerSpectator {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #fbfbfb;
	float : left;
	text-align: center;
}


#userStatus {
	position: relative;
	height: 100%;
	width: 49.5%;
	background-color : #fbfbfb;
	float : left;
	text-align: center;
}


#gameContent {
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}

/* map */

#map_canvas, #map_canvas_spectator {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}


/* bottomInfos - team points */

#bottomInfos {
	position : relative;
	width : 100%;
	height : 50px;
	background: #fbfbfb;
}


#teamRedInfo {
	position: relative;
	height: 100%;
	width: 49.5%;
	background-color : #fbfbfb;
	float : left;
	text-align: center;
}


#teamBlueInfo {
	position: relative;
	height: 100%;
	width: 49.5%;
	background-color : #fbfbfb;
	float : left;
	text-align: center;
}

#teamRedText {
	color : red;
	text-shadow: none;
	margin: auto;
	line-height: 25px;
	font-size: 120%;
}


#teamBlueText {
	color : #4c9bf5;
	text-shadow: none;
	margin: auto;
	line-height: 25px;
	font-size: 120%;	
}

#teamRedPoints, #teamRedPointsSpectator {
	color : black;
	text-shadow: none;
	margin: auto;
	line-height: 25px;
	font-size: 120%;
}

#teamBluePoints, #teamBluePointsSpectator{
	color : black;
	text-shadow: none;
	margin: auto;
	line-height: 25px;
	font-size: 120%;
}

.topInfoText {
	color : black;
	text-shadow: none;
	vertical-align: middle;
	margin: auto;
	line-height: 50px;
	font-size: 200%;

}


/* white style separator */

.separator {
	position: relative;
	height: 100%;
	width: 1.0%;
	float: left;
	background-color: gray;
	
}


#battleCounddown {
	color: red;
}



/* battle progress bar */
.progress-bar {
	position: absolute
	background-color: #1a1a1a;
	height: 10px;
	padding: 5px;
	
	margin-right: 50;
	margin-left: 50;
	margin: 20px 0;			
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	      
}

#innerProgressBar {
	position: relative;
	height: 100%;
	background: transparent;
}

.progress-bar span {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;    
}

.blue span {
	background-color: #4c9bf5;   
}




